/QUIZ/KUIS1/nbproject/private/
/QUIZ/KuisSatuIrham/nbproject/private/
/New folder/KUIS1/nbproject/private/
/Kuis/KUIS1/nbproject/private/
/Quis/KUIS1/nbproject/private/
/Quiz/KUIS1/nbproject/private/
/Quiz/KuisSatuIrham/nbproject/private/
/QUIZ/KuisSatuIrham/build/
/QUIZ/KuisSatuIrham/build
/Quiz/KuisSatuIrhamIzza/nbproject/private/
/Quiz/KuisSatuIrhamIzza/build/